name: Generate documentation dryrun
on:
  # Documentation can be either manually updated or is automatically updated when pushed to main branch
  workflow_dispatch:
  push:
    branches:
      - '*'
      - '!main'

jobs:
  build-docs:
    name: Build documentation site
    runs-on: ubuntu-latest
    steps:
      # Checkout repository including submodules
      - name: Checkout
        id: checkout
        uses: actions/checkout@v6
        with:
          submodules: true

      # Setup Python
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          # Pinned Python version
          python-version-file: ".python-version"

      # Install dependencies using UV
      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
      - run: uv sync --group docs

      # Build documentation to ./site/ directory
      - name: Build Documentation
        id: build
        run: uv run mkdocs build

      # Upload build outputs
      - name: Upload build artifacts
        uses: actions/upload-artifact@v6
        if: always()
        with:
          name: HTML output
          path: site/*
